*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

.padding-top-bottom
{
    padding: 4% 0%;
}

.d-flex
{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.container
{
    width: 90%;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 40px;
}

.option-card
{
    width: 320px;
    padding: 35px 30px;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
}

.option-card h3
{
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}

.option-card p
{
    font-size: 20px;
    color: #888;
}

.corner
{
    width: 70px;
    height: 70px;
    background-color: #53c5f7;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 70px;
    transform: translate(100% , -100%);
    transition: 0.5s;
}

.option-card:hover .corner
{
    transform: scale(1.0) rotate(5deg);
}

.corner::after
{
    content: "";
    color: white;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.option4
{
    margin: auto;
}

.icon
{
    font-size: 40px;
    color: gray;
}
